/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.App {
  padding: 20px;
  text-align: left;
}

.won-card {
  background-color: #4da375;
}

.lost-card {
  background-color: #a34d5d;
}

.HomePage {
  .app-name {
      font-size: 3rem;
      margin: 30px auto;
  }
  .team-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
  }
}

.MatchPage {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 20px;

  .year-selector {
      justify-self: end;
      padding: 20px;
  }

  .page-heading {
      margin: 20px auto;
  }
}

.TeamPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;


  .team-name-section {
      grid-column: span 3;
      justify-self: start;
      align-self: end;
  }

  .team-name {
      font-size: 4rem;
      margin-bottom: 20px;
  }

  .win-loss-section {
      justify-self: center;
      padding: 40px;
      text-align: center;
  }

  .match-detail-section {
      grid-column: span 4;
  }

  .more-link {
      align-self: center;
      justify-self: center;
      font-size: 1.5rem;

  }
}

.MatchDetailsCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  margin-bottom: 20px;;


  .match-date, .match-venue, .match-result {
      margin-top: 10px;
  }
  .additional-detail {
      text-align: right;
      & > p {
          margin-bottom: 20px;;
      }

  }

}


.MatchInfoCard {
    padding: 10px;
    margin-bottom: 20px;;


    .match-result {
        margin-top: 10px;
    }
}


.TeamTile {
  height: 170px;
  text-align: center;
  border: 1px solid white;
  padding: 20px;

}


.YearSelector {
  text-align: right;
  list-style-type: none;
  li {
      margin-top: 10px;
      margin-bottom: 10px;
  }

}